<% unless session[:msgRecieved] %>
<div class="alert alert-warning">Feel free to play around with these settings, but please ensure you reset your changes for the next person.<div class="close" id="msgRecieved"></div></div>
<% end %>
<form id="update_settings" action="/settings" method="post">
  <legend>Account</legend>
  <div class="row">
    <div class="block block-2">
      <div class="form-group">
        <input type="text" id="username" name="username" placeholder="Username" value="<%= @user.username %>" required="true">
      </div><!-- /.form-group -->
    </div><!-- /.block-2 -->
    <div class="block block-2">
      <div class="form-group">
        <p>
          <input type="password" id="new_password" name="new_password" placeholder="Change password">
        </p>
        <p>
          <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm new password">
        </p>
      </div><!-- /.form-group -->
    </div><!-- /.block-2 -->
  </div><!-- /.row -->
  <legend>Lessons</legend>
  <div class="row" style="margin-bottom:40px;">
    <input type="number" step="any" required="true" id="lesson_price" name="lesson_price" placeholder="Lesson price ($ per hour)" value="<%= @lesson_price %>">
  </div><!-- /.row -->
  <div class="form-action">
    <div class="left">
      <a href="/" class="btn btn-grey">Back</a>
    </div><!-- /.left -->
    <div class="right">
      <input type="submit" id="submit_update_settings" value="Update Settings">
    </div><!-- /.right -->
    <div class="clear"></div>
  </div><!-- /.form-action -->
</form>