<div style="float: left;">
  <a href="/">Return to Dashboard</a><br />
  <h4 style="margin-top:20px;">Waiting list...</h4>
</div>
<div style="float: right;">
  <h2>0/20</h2>
</div>
<div style="clear:both;"></div>